body{
  background-color: beige;
}

h2{
  color: cornflowerblue;
  transition: color 0.5s ease-in-out;
}
.active{
  color:palevioletred;
}

.holymoly{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}